{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}




<div class = form-section>

<div class="form-holder">
<div class="page-header">
{% if object %}
<h1>Edit {{object.name}}</h1>
  {% else %}
  <h1>Add an alumnus</h1>
  {% endif%}
<img src="" alt="">
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  
  {% csrf_token %}
  {% comment %} <table> {% endcomment %}
    <div class = "alumnus-form">
    {{ form.as_p }}
    </div>
  {% comment %} </table> {% endcomment %}
  <div class = "alumnus-button">
  <button type="submit" class="btn-submit">Submit!</button>
  </div>
</form>
</div>

</div>



{% endblock %}