{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/alumnus-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Our Alumni</h1>
  
</section>

<section class="card-container">
  {% for alumni in alumni_list %}
  <h1>{{alumni.name}}</h1>
  <h2>{{alumni.github}}</h2>
  <h3>{{alumni.linkedin}}</h3>

    
    <a href="{% url 'toys_detail' toy.id %}">
     
       
    </a>

  {% endfor %}
</section>

{% endblock %}