{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/alumnus-detail.css' %}"
/>

<script defer src="{% static 'js/alumnus-detail.js' %}"></script>

{% endblock %}

{% block content %}

{% if alumnus_id == self.request.user %}
<div class="title">
<h1> {{alumnus.name}}</h1>
</div>

<section class="alumnus-container">
  <div class="alumnus-img">
  {% if alumnus.photo.url %}
  <img src="{{alumnus.photo.url}}" 
  alt="a photo of {{alumnus.name}}"
  class="user-img"
  >
  {% else %}
     <img src="{% static 'img/profile.png' %}" alt="" style="width:300px">
     {% endif%}
  </div>
<div class="alumnus-actions">
  <h3>Change {{alumnus.name}}'s photo</h3>
  <p id = "file-name"></p>
  <form 
      action="{% url 'add_photo' alumnus.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
    </div>
  
    
  </div>
  
</section>
  <div class="alumnus-edit">
     <div class="alumnus-actions">
      <a href="{% url 'alumnus_update' alumnus.id %}" class="btn warn"> <span><i class="fas fa-user-edit"></i></span> Edit</a>
      <a href="{% url 'alumnus_delete' alumnus.id %}" class="btn danger"> <span> <i class="fas fa-user-minus"></i></span> Delete</a>
    </div>

{% else %}
<section>
<h1>You don't have access</h1>
</section>
{% endif %}

{% endblock %}




