{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/alumnus-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
</section>

<div class="title">
    <h1>OUR ALUMNI</h1> 
     </div>
<section class="team-container">
     {% for person in alumnus %}
     
        <div class="card">
            <div class="team-content">
                <div class="image">
                <img src="{% static 'img/teamwork.jpg' %}" alt="">

                </div>
                <div class="info">
                    <h4>{{person.name}}</h4>
                    <h5>Software Engineer</h5>
                </div>
                <div class="socials">
                    <a href="{{person.linkedin}}" target = "_blank" rel="noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a href="{{person.github}}" target = "_blank" rel="noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="edit">
                <a href="/alumnus/{{person.id}}">Edit</a>
                </div>
            </div>
        </div>
        </div>
  {% endfor %}
</section>

{% endblock %}