{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

<div class="unit1">
<section>
  <h1>Unit 1 (Browser-based Game)</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Engineer</th>
          <th>Project</th>
          <th>Github</th>
         
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Christine</td>
          <td> <a href="https://christinew2-tetris.netlify.app/">Tetris</a> </td>
          <td><a href="https://github.com/christinew2/unit-1-project"><i class="fas fa-code-branch"></i>Tetris</a></td>
          
        </tr>
        <tr>
          <td>Dylan</td>
          <td><a href="https://hammer-yahtzee.netlify.app/">Yahtzee</a></td>
          <td><a href="https://github.com/HammerNTime/Yahtzee-Unit-Project"><i class="fas fa-code-branch"></i>Yahtzee</a></td>
          
        </tr>
        <tr>
          <td>Gerardo</td>
          <td><a href="https://focused-jennings-1f0f30.netlify.app/">Focused-Jennings</a></td>
          <td><a href="https://github.com/geedtd/ConnectFour"><i class="fas fa-code-branch"></i>Focused-Jennings</a></td>
          
        </tr>
        <tr>
          <td>Ian</td>
          <td><a href="https://hanafuda-sakura.netlify.app/">Hanafuda</a></td>
          <td><a href="https://github.com/teradaian/hanafuda"><i class="fas fa-code-branch"></i>Hanafuda</a></td>
          
        </tr>
        <tr>
          <td>Jimmy</td>
          <td><a href="https://jeblackjack.netlify.app/">Blackjack</a> </td>
          <td><a href="https://github.com/JImmyJImmy0/blackjack-project"><i class="fas fa-code-branch"></i>Blackjack</a></td>
          
        </tr>
        <tr>
          <td>John</td>
          <td><a href="https://jumble-hunt.netlify.app/">Jumble Hunt</a></td>
          <td><a href="https://github.com/JohnnyMohawk/jumble-hunt-game"><i class="fas fa-code-branch"></i>Jumble Hunt</a></td>
          
        </tr>
        <tr>
          <td>Jon</td>
          <td><a href="https://raptorgame.netlify.app/">Raptor</a></td>
          <td><a href="https://github.com/jonathanherman1/raptor"><i class="fas fa-code-branch"></i>Raptor</a></td>
          
        </tr>
        <tr>
          <td>Junior</td>
          <td><a href="https://sytycc.netlify.app/">SYTYCC</a></td>
          <td><a href="https://github.com/Jadessu/Project-Quiz-Game"><i class="fas fa-code-branch"></i>SYTYCC</a></td>
          
        </tr>
        <tr>
          <td>Rose</td>
          <td><a href="https://adventurebg.rosieahill.com/">AdventureBG</a></td>
          <td><a href="https://github.com/RoseAHill/adventure-board-game"><i class="fas fa-code-branch"></i>AdventureBG</a></td>
          
        </tr>
        <tr>
          <td>Shu</td>
          <td><a href="https://shu-minesweeper-game.netlify.app/">Minesweeper</a></td>
          <td><a href="https://github.com/shu-hu/project-1-minesweeper"><i class="fas fa-code-branch"></i>Minesweeper</a></td>
          
        </tr>
        <tr>
          <td>SJ</td>
          <td><a href="https://sj-madlibs.netlify.app/">Madlibs</a></td>
          <td><a href="https://github.com/sarahgaled/unit-1-project"><i class="fas fa-code-branch"></i>Madlibs</a></td>
          
        </tr>
        <tr>
          <td>Summer</td>
          <td><a href="https://summerxing-unit1.netlify.app/">Memory Game</a></td>
          <td><a href="https://github.com/SummerXiX/unit1project"><i class="fas fa-code-branch"></i>Memory Game</a></td>
          
        </tr>
        <tr>
          <td>Victor</td>
          <td><a href="https://epic-lichterman-354b9a.netlify.app/">Epic Lichterman</a> </td>
          <td><a href="https://github.com/vzarate-94/Project-1-Quiz-Game"><i class="fas fa-code-branch"></i>Epic Lichterman</a></td>
          
        </tr>
        <tr>
          <td>Witte</td>
          <td><a href="https://snakereturns.netlify.app/">Snake Returns</a></td>
          <td><a href="https://github.com/jwcrosby/snake"><i class="fas fa-code-branch"></i>Snake Returns</a></td>
          
        </tr>
        <tr>
          <td>Yoni</td>
          <td><a href="https://yoni-minesweeper.netlify.app/">Minesweeper</a></td>
          <td><a href="https://github.com/yoni1994/unit-1-project"><i class="fas fa-code-branch"></i>Minesweeper</a></td>
          
        </tr>
        <tr>
          <td>Zach</td>
          <td><a href="https://trivia-mania.netlify.app/">Trivia Mania</a></td>
          <td><a href="https://github.com/zmar0519/unit-1-project"><i class="fas fa-code-branch"></i>Trivia Mania</a></td>
          
        </tr>    
      </tbody>
    </table>
  </div>
</section>
</div>
{% comment %} ----------------------------UNIT2------------------------------------------- {% endcomment %}
<div class="unit2">
<section>
  <h1>Unit 2 (MEN Stack)</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Engineer</th>
          <th>Project</th>
          <th>Github</th>
         
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Christine</td>
          <td> <a href="https://christinew2-homecooked.herokuapp.com/">HomeCooked</a> </td>
          <td><a href="https://github.com/christinew2/unit-2-project"><i class="fas fa-code-branch"></i>HomeCooked</a></td>
          
        </tr>
        <tr>
          <td>Dylan</td>
          <td><a href="https://u-game-unit-2-project.herokuapp.com/">UGame</a></td>
          <td><a href="https://github.com/HammerNTime/u-game-unit-project"><i class="fas fa-code-branch"></i>UGame</a></td>
          
        </tr>
        <tr>
          <td>Gerardo</td>
          <td><a href="https://recipe-mania.herokuapp.com/recipes">Recipe Mania</a></td>
          <td><a href="https://github.com/geedtd/unit-2"><i class="fas fa-code-branch"></i>Recipe Mania</a></td>
          
        </tr>
        <tr>
          <td>Ian</td>
          <td><a href="https://panopticoin.herokuapp.com/">Panopticoin</a></td>
          <td><a href="https://github.com/teradaian/panopticoin"><i class="fas fa-code-branch"></i>Panopticoin</a></td>
          
        </tr>
        <tr>
          <td>Jimmy</td>
          <td><a href="https://origin-catalog.herokuapp.com/">Origin Catalog</a> </td>
          <td><a href="https://github.com/JImmyJImmy0/gift-registry"><i class="fas fa-code-branch"></i>Origin Catalog</a></td>
          
        </tr>
        <tr>
          <td>John</td>
          <td><a href="https://dog-o-matic-rescue-app.herokuapp.com/">Dog-Rescue-O-Matic</a></td>
          <td><a href="https://github.com/JohnnyMohawk/dog-rescue-app"><i class="fas fa-code-branch"></i>Dog-Rescue-O-Matic</a></td>
          
        </tr>
        <tr>
          <td>Jon</td>
          <td><a href="https://deep-sky-falcon.herokuapp.com/">Deep Sky</a></td>
          <td><a href="https://github.com/jonathanherman1/deep-sky"><i class="fas fa-code-branch"></i>Deep Sky</a></td>
          
        </tr>
        <tr>
          <td>Junior</td>
          <td><a href="https://risenblog.herokuapp.com/">Rise'N'Blog</a></td>
          <td><a href="https://github.com/Jadessu/Rise-N-Blog"><i class="fas fa-code-branch"></i>RiseNBlog</a></td>
          
        </tr>
        <tr>
          <td>Rose</td>
          <td><a href="https://toptunes.herokuapp.com/">Top Tunes</a></td>
          <td><a href="https://github.com/RoseAHill/Top-Tunes"><i class="fas fa-code-branch"></i>Top Tunes</a></td>
          
        </tr>
        <tr>
          <td>Shu</td>
          <td><a href="https://shu-bg-club.herokuapp.com/">BG-Club</a></td>
          <td><a href="https://github.com/shu-hu/project-2-bg-club"><i class="fas fa-code-branch"></i>BG-Club</a></td>
          
        </tr>
        <tr>
          <td>SJ</td>
          <td><a href="https://sj-beauty-reviews.herokuapp.com/">SJBeauty</a></td>
          <td><a href="https://github.com/sarahgaled/sjbeauty"><i class="fas fa-code-branch"></i>SJBeauty</a></td>
          
        </tr>
        <tr>
          <td>Summer</td>
          <td><a href="https://unit2summer.herokuapp.com/">Tarot Deck</a></td>
          <td><a href="https://github.com/SummerXiX/flip-a-card"><i class="fas fa-code-branch"></i>Tarot Deck</a></td>
          
        </tr>
        <tr>
          <td>Victor</td>
          <td><a href="https://scourse-card.herokuapp.com/">Scourse Card</a> </td>
          <td><a href="https://github.com/vzarate-94/Scourse-Card"><i class="fas fa-code-branch"></i>Scourse Card</a></td>
          
        </tr>
        <tr>
          <td>Witte</td>
          <td><a href="https://go-shelf.herokuapp.com/">Shelf</a></td>
          <td><a href="https://github.com/jwcrosby/shelf"><i class="fas fa-code-branch"></i>Shelf</a></td>
          
        </tr>
        <tr>
          <td>Yoni</td>
          <td><a href="https://yoni-rec-league.herokuapp.com/">Yoni's Rec League</a></td>
          <td><a href="https://github.com/yoni1994/unit-2-project"><i class="fas fa-code-branch"></i>Yoni's Rec League</a></td>
          
        </tr>
        <tr>
          <td>Zach</td>
          <td><a href="https://the-completionist.herokuapp.com/">The Completionist</a></td>
          <td><a href="https://github.com/zmar0519/unit-2-game-tracker"><i class="fas fa-code-branch"></i>The Completionist</a></td>
          
        </tr>    
      </tbody>
    </table>
  </div>
</section>
</div>
<div class="unit3">
<h1>UNIT 3 (Mern Stack)</h1>
</div>

<div class="group-container">
<div class="project-box">
<div class="imgBox">
<div class="title">
<h1> PartyFowl</h1>
 </div>
</div>
<div class="info">
<h2>SEIgulls, Inc(You will find out soon)</h2>
<div class="menbers">
<h3>Christine</h3>
<h3>Gerardo</h3>
<h3>Jimmy</h3>
<h3>Witte</h3>
</div>
</div>
<div class="links">
<div class="webstie"> <a href="https://partyfowl.herokuapp.com/"><i class="far fa-window-maximize"></i></a></div>
<div class="github"> <a href="https://github.com/christinew2/partyfowl"><i class="fab fa-github-square"></i></a></div>
</div>
</div>

<div class="project-box">
<div class="imgBox2">
<div class="title">
 </div>
</div>
<div class="info">
<h2>The Whistleblowers(It's on the First Slide)</h2>
<div class="menbers">
<h3>Dylan</h3>
<h3>Summer</h3>
<h3>Zach</h3>
</div>
</div>
<div class="links">
<div class="webstie"> <a href="https://capitol-gains.herokuapp.com/"><i class="far fa-window-maximize"></i></a></div>
<div class="github"> <a href="https://github.com/HammerNTime/capitol-gains"><i class="fab fa-github-square"></i></a></div>
</div>
</div>

<div class="project-box">
<div class="imgBox3">
<div class="title">
<h1>UNLeash</h1>
 </div>
</div>
<div class="info">
<h2>Barks & Rec</h2>
<div class="menbers">
<h3>Ian</h3>
<h3>John</h3>
<h3>Shu</h3>
</div>
</div>
<div class="links">
<div class="webstie"> <a href="https://barks-rec-unleash.herokuapp.com/"><i class="far fa-window-maximize"></i></a></div>
<div class="github"> <a href="https://github.com/shu-hu/unleash"><i class="fab fa-github-square"></i></a></div>
</div>
</div>


<div class="project-box">
<div class="imgBox4">
<div class="title">
<h1>We-Travel</h1>
 </div>
</div>
<div class="info">
<h2>WE (Yes, "we")</h2>
<div class="menbers">
<h3>Jon</h3>
<h3>Victor</h3>
<h3>Yonah</h3>
</div>
</div>
<div class="links">
<div class="webstie"> <a href="https://we-travel.herokuapp.com/"><i class="far fa-window-maximize"></i></a></div>
<div class="github"> <a href="https://github.com/jonathanherman1/we-travel"><i class="fab fa-github-square"></i></a></div>
</div>
</div>

<div class="project-box">
<div class="imgBox5">
<div class="title">
<h1>Pathways</h1>
 </div>
</div>
<div class="info">
<h2>Team Trifecta</h2>
<div class="menbers">
<h3>Junior</h3>
<h3>Rose</h3>
<h3>SJ</h3>
</div>
</div>
<div class="links">
<div class="webstie"> <a href="https://learn-with-pathways.herokuapp.com/"><i class="far fa-window-maximize"></i></a></div>
<div class="github"> <a href="https://github.com/RoseAHill/Pathways"><i class="fab fa-github-square"></i></a></div>
</div>
</div>
</div>












{% comment %} ----------------------------UNIT4------------------------------------------- {% endcomment %}

<div class="unit4">
<section>
  <h1>Unit 4 (Full-stack Django App)</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Engineer</th>
          <th>Project</th>
          <th>Github</th>
         
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Christine</td>
          <td> <a href="https://christinew2-unit4.herokuapp.com/">YooDoo To-Do App</a> </td>
          <td><a href="https://github.com/christinew2/igotthis"><i class="fas fa-code-branch"></i>YooDoo To-Do App</a></td>
          
        </tr>
        <tr>
          <td>Dylan</td>
          <td><a href="http://www.go-bloom.com/">Bloom</a></td>
          <td><a href="https://github.com/jonathanherman1/bloom_backend"><i class="fas fa-code-branch"></i>Bloom</a></td>
          
        </tr>
        <tr>
          <td>Gerardo</td>
          <td><a href="https://happyhiking.herokuapp.com/">Happy Hiking</a></td>
          <td><a href="https://github.com/geedtd/happy_hiking"><i class="fas fa-code-branch"></i>Happy Hiking</a></td>
          
        </tr>
        <tr>
          <td>Ian</td>
          <td><a href="http://www.go-bloom.com/">Bloom</a></td>
          <td><a href="https://github.com/jonathanherman1/bloom_backend"><i class="fas fa-code-branch"></i>Bloom</a></td>
          
        </tr>
        <tr>
          <td>Jimmy</td>
          <td><a href="http://the-hustle.herokuapp.com/">The Hustle</a> </td>
          <td><a href="https://github.com/JImmyJImmy0/thehustle"><i class="fas fa-code-branch"></i>The Hustle</a></td>
          
        </tr>
        <tr>
          <td>John</td>
          <td><a href="https://ppt-challenge.herokuapp.com/">PPT Challenge</a></td>
          <td><a href="https://github.com/JohnnyMohawk/ppt-challenge"><i class="fas fa-code-branch"></i>PPT Challenge</a></td>
          
        </tr>
        <tr>
          <td>Jon</td>
          <td><a href="http://www.go-bloom.com/">Bloom</a></td>
          <td><a href="https://github.com/jonathanherman1/bloom_backend"><i class="fas fa-code-branch"></i>Bloom</a></td>
          
        </tr>
        <tr>
          <td>Junior</td>
          <td><a href="https://sei-unite.herokuapp.com/">SEI-Unite</a></td>
          <td><a href="https://github.com/Jadessu/sei-unite"><i class="fas fa-code-branch"></i>SEI-Unite</a></td>
          
        </tr>
        <tr>
          <td>Rose</td>
          <td><a href="https://moodshift.herokuapp.com/">Mood Shift</a></td>
          <td><a href="https://github.com/RoseAHill/MoodShift"><i class="fas fa-code-branch"></i>Mood Shift</a></td>
          
        </tr>
        <tr>
          <td>Shu</td>
          <td><a href="http://www.go-bloom.com/">Bloom</a></td>
          <td><a href="https://github.com/jonathanherman1/bloom_backend"><i class="fas fa-code-branch"></i>Bloom</a></td>
          
        </tr>
        <tr>
          <td>SJ</td>
          <td><a href="https://sjstravelblog.herokuapp.com/">SJ's Travel Blog</a></td>
          <td><a href="https://github.com/sarahgaled/sjstravelblog"><i class="fas fa-code-branch"></i>SJ's Travel Blog</a></td>
          
        </tr>
        <tr>
          <td>Summer</td>
          <td><a href="https://summerunit4.herokuapp.com/">The Gardening Project</a></td>
          <td><a href="https://github.com/SummerXiX/thegardeningproject"><i class="fas fa-code-branch"></i>The Gardening Project</a></td>
          
        </tr>
        <tr>
          <td>Victor</td>
          <td><a href="https://sanmiguelinc.herokuapp.com/">San Miguel Inc</a> </td>
          <td><a href="https://github.com/vzarate-94/sanmiguelinc"><i class="fas fa-code-branch"></i>San Miguel Inc</a></td>
          
        </tr>
        <tr>
          <td>Witte</td>
          <td><a href="https://dive-neptune.herokuapp.com/">Neptune</a></td>
          <td><a href="https://github.com/jwcrosby/neptune"><i class="fas fa-code-branch"></i>Neptune</a></td>
          
        </tr>
        <tr>
          <td>Yoni</td>
          <td><a href="https://topathletes.herokuapp.com/">Top Athletes</a></td>
          <td><a href="https://github.com/yoni1994/topathletes"><i class="fas fa-code-branch"></i>Top Athletes</a></td>
          
        </tr>
        <tr>
          <td>Zach</td>
          <td><a href="https://todoapp-zm.herokuapp.com/">ClickDown</a></td>
          <td><a href="https://github.com/zmar0519/unit-4-todo-app"><i class="fas fa-code-branch"></i>ClickDown</a></td>
          
        </tr>    
      </tbody>
    </table>
  </div>
</section>
</div>




{% endblock %}
