{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
  >
  <title>SEI-Unite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  {% block head %}
  {% endblock %}
</head>
<body>
<header>
  <nav>
    <div class="logo">SEI-UNITE</div>
    <ul>
    <li><a href="#">Home</a></li>
    <li>
    <a href="#">Projects
    <span> <i class="fas fa-caret-down"></i> </span>
    </a>
    <ul>
        <li><a href="#">Add Project</a></li>
        <li><a href="/projects">View Projects</a></li>
    </ul>
    </li>
    <li>
    <a href="#">Alumni
    <span> <i class="fas fa-caret-down"></i> </span>
    </a>
    
    <ul>
        <li><a href="#">View Alumni</a></li>
        <li><a href="#">Add Alumnus</a></li>
    </ul>
    </li>
    <li><a href="#">Project Ideas</a></li>
    <li><a href="#">About Us</a></li>

    
    </ul>
  </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>