{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}



<div class="home">
  <div class="imgBx">
{% comment %} <img src="{% static 'img/teamwork.jpg' %}" alt=""> {% endcomment %}


{% comment %} <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_lwubnwbl.json"  background="transparent"  speed="0.8"  style="width: 850px; height: 850px;"  loop controls autoplay></lottie-player> {% endcomment %}

  </div>
  <div class="contentBx">
  <div class="formBx">
  <h2>Login</h2>
{% if not user.is_authenticated %}
  
    <form action="{% url 'home' %}" method="post" class="login">
     
      {% csrf_token %}
      <div class="inputBx">
      {{ form.as_p }}
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="login-submit">Login</button>
    </form>
 
{% endif %}
<div class="inputBx">
<p class="sign-up-link">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</div>
  </div>
  </div>
</div>



{% endblock %}