{% extends 'base.html' %}
{% load static %}
  {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/idea.css' %}"
/>
{% endblock %} 

{% block content %}

<h1>PROJECT IDEAS</h1>


<div class="container">
<div class="idea">
<div class="title"><h1>Rating and Review Application</h1></div>
<div class="info"> <p>Build a website or mobile app where users can rate and review certain products.</p>
<p>Examples include Movies: IMDB, Books: Goodreads, Companies: Glassdoor</p>
</div>
<div class="overview">
<h2>Feature Ideas</h2>
              <ul>
              <li>Sorting (avg. rating, rating count, etc) and Pagination</li>
              <li>Additional Product Details.</li>
              <li>Use a public API to get product details and store them in your DB.</li>
              </ul>
</div>

</div>

<div class="idea">
<div class="title"><h1>OTT (Over-the-top) Platform</h1></div>
<div class="info"> <p>Create an OTT Platform like Netflix, Amazon Prime Video, Hotstar, etc.</p>

</div>
<div class="overview">
<h2>Ideas:</h2>
              <ul>
              <li>You can use Youtube or other free videos on the platform.</li>
              <li>Add ratings and reviews.</li>
              <li>You can add movie trailers instead of full videos.</li>
              <li>Optionally add recommendations.</li>
              </ul>
</div>

</div>

<div class="idea">
<div class="title"><h1>Real-Time Communication</h1></div>
<div class="info"> <p>Create a real-time communication tool that can be used for communication or collaboration.</p>

</div>
<div class="overview">
<h2>Ideas:</h2>
              <ul>
              <li>Chat (1:1 or Group) like WhatsApp, Telegram, Slack, Discord</li>
              <li>Video Calling like Zoom, Conference Calls, YouTube Live</li>
              <li>Interview Collab Tools (Chat, Video, Whiteboard, Editor)</li>
             
              </ul>
</div>

</div>

<div class="idea">
<div class="title"><h1>QnA Platform</h1></div>
<div class="info"> A community-driven question and answer platform like Quora, StackOverflow, Reddit, Discourse. etc.</p>

</div>
<div class="overview">
<h2>Ideas:</h2>
              <ul>
              <li>Make it unique!</li>
              
             
              </ul>
</div>

</div>



<div class="idea">
<div class="title"><h1>Social Media</h1>
</div>
<div class="info"> <p>Build a social media platform like Facebook, Twitter, Instagram, etc.</p>

</div>
<div class="overview">
<h2>Ideas:</h2>
              <ul>
              <p>Start with a sharing platform where people can share media (image, video, text, links, etc) with buttons to share them. Example: Product Hunt, Hacker News, early days of Instagram, and Pinterest.</p>
             
              </ul>
</div>
</div>

<div class="idea">
<div class="title"><h1>E-commerce</h1></div>
<div class="info"> <p>Most of the websites or apps that we interact with are e-commerce platforms. If a website allows you to buy something online, it is an e-commerce website. You can buy hands-on courses from workat.tech which makes this website an e-commerce website as well.</p>

</div>
<div class="overview">
<h2>Examples:</h2>
              <ul>
              <li>General Shopping: Amazon, Flipkart</li>
              <li>Food: Swiggy, Zomato</li>
              <li>Flight Tickets: MakeMyTrip</li>
             
              </ul>
</div>

</div>

<div class="idea">
<div class="title"><h1>Expense/Account Management</h1></div>
<div class="info"> <p>Build an expense/account management app that hows income, expenses, savings goals, credit score, investments, net worth and categorizes your expenses</p>

</div>
<div class="overview">
<h2>Ideas:</h2>
              <ul>
              <li>Personal Expense Management like Walnut</li>
              <li>Collaborative Expense Management like Splitwise</li>
              <li>Business Account Management like Khatabook</li>
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

<div class="idea">
<div class="title"><h1>Fantasy Sports</h1></div>
<div class="info"> <p>Build a Fantasy Sports Application like Dream11 for any sports. This is a fun one. Try to be as creative as possible.</p>

</div>
<div class="overview">
<h2>Examples</h2>
              <ul>
              <li>NFL Fantasy Sport</li>
              <li>Yahoo Fantasy Sports</li>
              <li>CBS Sports Fantasy</li>
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

<div class="idea">
<div class="title"><h1>Project Management</h1></div>
<div class="info"> <p>Build a project management application like Trello, Jira, etc. This will help you learn a lot about UI design and backend code design.</p>

</div>
<div class="overview">
<h2>Examples</h2>
              <ul>
              <li>Trello</li>
              <li>Jira</li>
              
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

<div class="idea">
<div class="title"><h1>Algorithm Visualizer</h1></div>
<div class="info"> <p>This project will generally require you to write a lot of code to create visualizers for different algorithms. Try to create reusable components to do this. This will help you get hands-on with a language and might also help you revise DS/Algo.</p>

</div>
<div class="overview">
<h2>Ideas</h2>
              <ul>
              <li>Refer back to your lectures on Big O</li>
              
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

<div class="idea">
<div class="title"><h1>Content Management System</h1></div>
<div class="info"> <p>Build a content management system where anyone can set up their blog.</p>

</div>
<div class="overview">
<h2>Ideas</h2>
              <ul>
              <li>Using an MD Editor or a WYSIWYG Editor will make the experience very good.</li>
              <li>Allowing subscribing and sending newsletters like Substack can make it a great product.</li>
              
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}


<div class="idea">
<div class="title"><h1>Note-taking Application</h1></div>
<div class="info"> <p>Build a note-taking application similar to Notion, Roam Research, etc. You do not need to add all the functionalities. Just a few core ones and it would be a pretty good project.</p>

</div>
<div class="overview">
<h2>Ideas</h2>
              <ul>
              <li>Focus on using libraries that can format notes as code</li>
              <li>Include a feature for the users to draw or add shapes such as arrows.</li>
              
             
              </ul>
</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

<div class="idea">
<div class="title"><h1>Matchmaking Application</h1></div>
<div class="info"> <p>Create a matchmaking app (dating, job-search, etc). Idea: Tinder Clone.</p>

</div>
<div class="overview">

</div>

</div>
{% comment %} ------------------------------------------------------------------------- {% endcomment %}

</div>

{% endblock %}