{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}


<div class="home">
  <div class="imgBx">
{% comment %} <img src="{% static 'img/signup2.jpg' %}" alt=""> {% endcomment %}

 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_yupefrh2.json"  background="transparent"  speed="0.8"  style="width: 950px; height: 950px;"  loop  autoplay></lottie-player> 
  </div>
  <div class="contentBx">
  <div class="formBx">
  <h2>Sign Up</h2>

{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  
  <div class="inputBx">
    {{ form.as_p }}
    </div>
  
<div class="inputBx">
<button type="submit" class="login-submit">Submit</button></div>
  </div>
  </div>
</div>

{% endblock %}