:root{
    --dark-color: #0B0C10;
    --light-dark: #1F2833;
    --yellow-ish: #C5C6C7;
    --blue-ish: #66FCF1;
    --green-ish: #45A29E;

    --main:#0d2f7f;
    --ascent: #cb9e85;
    --white: #fff;
    --button: #0863ce;
}



.unit2 h1, .unit1 h1, .unit4 h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  
}
.tbl-header{
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #020227, #0b0642, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #020238, #0a0546, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td a{
    text-decoration: none;
    color: var(--white)
}

.fas{
    margin-right: 1rem;
}

.project-box{
    border: 1px solid var(--white);
    display: flex;
    display: inline-block;
    border-radius: 1rem;
    min-width: 400px;
    
    word-wrap: break-word;
}
    
.project-box h1{
    color: var(--white);
    font-size: 3rem;
}
.menbers{
    display: flex;
    margin: 1rem;
    word-wrap: break-word;
}
.menbers h3{
    margin: 1rem;
}
.info h2, h3{
    color: whitesmoke
}
.links{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}
.far, .fab{
    color: var(--white)
}
/* .far{
    padding-left: 10rem;
}
.fab{
    padding-right: 10rem;
} */

.unit3{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
 
  text-transform: uppercase;
  font-weight: 300;
}
.group-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    align-items: center;
}
.project-box{
    margin: 2rem;
    
}

.imgBox{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(3, 11, 54, 0.781), rgba(20, 1, 37, 0.73)),
    url("/static/img/partyfowl.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.imgBox2{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
   
    url("/static/img/capitalgains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgBox3{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(3, 11, 54, 0.781), rgba(20, 1, 37, 0.73)),
    url("/static/img/unleash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgBox4{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(3, 11, 54, 0.781), rgba(20, 1, 37, 0.73)),
    url("/static/img/we-travel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgBox5{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(3, 11, 54, 0.781), rgba(20, 1, 37, 0.73)),
    url("/static/img/pathways.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.imgBox img{
    max-width: 100%;
    filter: blur(2px);
}

.imgBox2 img{
    max-width: 100%;
}
.project-box .info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section{
  margin: 50px;
}




::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}