*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --dark-color: #0B0C10;
    --light-dark: #1F2833;
    --yellow-ish: #C5C6C7;
    --blue-ish: #66FCF1;
    --green-ish: #45A29E;

    --main:#0d2f7f;
    --ascent: #cb9e85;
    --white: #fff;
    --button: #0863ce;
}


body{
    /* background-color: white; */
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57);
    background-color: var(--main)
}
/* section{
    
    padding: 0 6rem;
} */

.logo h1{
    font-size: 2.5rem;
}
.bar{
    height: 2rem;
    width: 100%;
    background-color: white;
}

main{
    background-blend-mode: lighten;  
 height: 100vh;
}

nav{
    color: var(--white);
    z-index: 5
}


nav .logo{
    float: left;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 4.37rem ;
    padding-left: 6rem;
    
}

nav:after{
    content: "";
    clear: both;
    display: table;
}

nav ul{
    float: right;
    list-style: none;
    /* margin-right: 40px; */
    position: relative;
    padding-right: 6rem;
}

nav li{
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;

    margin: 0 5px;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.2rem;
    padding: 8px 15px;
    text-transform: uppercase;
}

nav ul li a:hover{
    box-shadow: 0 0 5px #33ffff;
    border-radius: 5px;
    color: cyan;
}

nav a::before {
content: "";
display: block;
height: 5px;
width: 0%;
background-color: cyan;
position: absolute;
top: 0;
transition: all ease-in-out 600ms;
}

nav a:hover::before{
    width: 100%;

}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
    
    

}
nav ul ul{
    position: absolute;
    top: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    border-top: 3px solid cyan;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 3.02rem;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 9.3rem;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color:#092669;
    z-index: 100;
    transition: all ease-in-out 200ms;
}

nav ul ul li a {
    line-height: 40px;
    font-size: 0.8rem;
}

main{
    padding: 0 5rem;
    
}
/* 
.btn {
    font-size: var(--font-l);
    padding: 8px 16px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    background-color: var(--button-bg);
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    margin-right: 10px;
  }

  .submit {
    color: var(--submit);
    border-color: var(--submit);
  }
  
  .secondary {
    color: var(--secondary);
    border-color: var(--secondary);
  }
  
  .warn {
    color: var(--warn);
    border-color: var(--warn);
  }
   */