/* 
  
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: black;
    color: white;
  }
  
  p{
    color: whitesmoke
  }
  
  .btn{
    color: white;
  }
  
  main > section {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-container{
      width: 100%;
  }
  
  .login h1 {
    font-size: clamp(1.8rem, 3vw, 3rem);
    margin: 10px 0 16px 0;
  }
  
  .login > p {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login label {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  
  .login input {
    font-size: 1.2rem;
    padding: 2px;
  }
  
  .login .btn {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    main {
      justify-content: space-around;
    }
  
    main > section {
      width: 40%;
      min-height: calc(100vh - 50px);
    }
  
    .login {
      border: rgb(204, 221, 248) solid 2px;
      padding: 20px;
      border-radius: 6px;
    }
  
    .logo-container {
      max-width: 520px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    
    main > section {
      padding: 0 5px;
      min-height: calc(100vh - 57.6px);
    }
    main {
      
      background-image: linear-gradient(to bottom, rgba(1, 4, 19, 0.32), rgba(51, 12, 41, 0.93)),
      url(../img/background.jpg);
    }
  
    h1, p{
      color: white;
    }
  
    h3{
      color: whitesmoke
    }
    h2{
      color: rgb(218, 213, 213);
    }
  
    .btn{
      color: white;
    }
  } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .home{
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
  }

  .home .imgBx{
      position: relative;
      width: 50%;
      height: 100%;
      
  }

  .home .imgBx:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: bisque;
      z-index: 1;
      mix-blend-mode: screen;
  }

  .home .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .home .contentBx{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;

      

  }

  .home .contentBx .formBx h2{
      color: #607d8b;
      font-weight: 600;
      font-size: 1.5em;
      text-transform: uppercase;
      margin-bottom: 20px;
      border-bottom: 4px solid #ff4584;
      display: inline-block;
      letter-spacing: 1px;
      
  }