:root{
    --dark-color: #0B0C10;
    --light-dark: #1F2833;
    --yellow-ish: #C5C6C7;
    --blue-ish: #66FCF1;
    --green-ish: #45A29E;

    --main:#0d2f7f;
    --ascent: #cb9e85;
    --white: #fff;
    --button: #0863ce;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* background-color: var(--button); */
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000a5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}


.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: 2rem solid white;

}

.idea h1 {
    color: var(--white);
    background-color: var(--main);
    

}


  .idea{
    width: 500px;
    /* max-height: 300px; */
    height: 150px;
    margin: 1.3rem;
    background: rgba( 151, 5, 5, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
      
  }
  .info{
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      padding: 0 1rem;
  }

  .info p{
      color: var(--white);
      font-size: 1.1rem;
  }

 
  .idea-container a {
      text-decoration: none;
      color:var(--white)
  }



.idea-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .idea-info h3{
      margin: 0;
  }
  
  .idea-info span{
      background-color: var(--ascent);
      color: var(--light-dark)
  }


  .overview{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--black);
    background: var(--white);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );  color: white;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
 
  
  }
  
  .idea:hover .overview{
    transform: translateX(0%);
    color: var(--black);
    width: 100%;
    
  
  }
  .junior-recommendation{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      color: var(--white);
      background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

  .junior-recommendation p{
      margin-top: 1rem;
  }

  .far{
      color: yellow;
      margin: 0 1rem;
  }

  .resources-title{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
  }

.resources{
    display: flex;
    flex-wrap: wrap;
}

.resource-container{
    display: flex;
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 2rem;
border-top: 2rem solid var(--white);

    
}


.resources2-container{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
border-top: 2rem solid var(--white);
background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #271647);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #361f61); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.podcast-container, .youtube, .twitter-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title h1{
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 2px solid var(--white);
    margin-top: 2rem;
    
   
}

.title a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--white)
}

