:root{
    --dark-color: #0B0C10;
    --light-dark: #1F2833;
    --yellow-ish: #C5C6C7;
    --blue-ish: #66FCF1;
    --green-ish: #45A29E;

    --main:#0d2f7f;
    --ascent: #cb9e85;
    --white: #fff;
    --button: #0863ce;
    --calm: #e8e3de;
}

.whole {
    
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--button);
  }
  
  .project {
    width: 800px;
    user-select: none;
    height: 820px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: #c4c2df;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
  }
  
  .project .project_header 
  {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .project .project_header h1 {
    font-size: 22px;
    color: #0a253f;
  }
  
  .project .project_header p {
    font-size: 16px;
    padding: 10px 20px 0 0;
    color: #4a4970;
  }

  .content-image img{
      max-width: 100%;
  }
  
  .project .content-image .fa {
    padding: 7px 10px;
    font-size: 25px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #025aa5;
  }
  
  .project_info {
      color: #0a253f;
      font-size: 14px;
      font-weight: 500;
      display: flex;
     
  }
  
  .project_info p{
      margin:15px 10px;
  }
  .project_info span{
      color: #4a4970;
      margin-right: 10px;
  }
  
  .project .project_footer{
      padding: 10px 20px;
      align-items: center;
      background-color: #F0F4F7;
      display: flex;
      justify-content: space-between;
      border-top: 3px solid #025aa5;
  
  }
  
  .project .project_footer .btn{
      width: 100px;
      font-size: 16px;
      height: 30px;
      padding: 0 10px;
      border: none;
      outline: none;
      color: #fff;
      background: #025aa5;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .project_footer button span{
      margin-left: 10px;
  }

  .help{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 6px;
  }

  .help-info{
      margin-top: 1rem;
  }

  .help-info h2{
margin-top: 2rem;
border-top: 3px solid #025aa5;
  }

 input[type='checkbox' i]{
     font-size: 2rem;
 }