{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  
</section>

<section class="card-container">
{% comment %} <a href="{%url 'projects_detail' project.id %}"> </a> {% endcomment %}
<a href="/projects/{{project.id}}">  View Details </a>
 {%for project in projects%}
 <img src="{{project.image}}" style="width: 200px"alt="">
 <h1>{{project.title}}</h1>
 <p>{{project.description}}</p>
 <p>{{project.lookingFor}}</p>
 <h3>{{project.repo}}</h3>
 
 {% if project.completed %}
 <h2>This project is completed</h2>
 {% else %}
 <h2>This project is not completed</h2>
 {% endif %}





 {% endfor%}
</section>

{% endblock %}